body{
    background-color: #000000;
    margin: 0px;
}
#navbar a{
  text-decoration: none;
  color: #000000;
}
.cover{
    width: 75%;
    margin: 0 auto;
    background-color: #ffffff;
}
.intro{
    font-size: 1em;
    text-align: center;
    min-height: 200%;
}
h1{
    font-family: 'Caveat', cursive;
    font-size: 3em;
}
.intro p{
    margin-top: 0px; 
    font-family: 'Barlow', sans-serif;
    font-size: 0.8em;
    color: #0D47A1;
    letter-spacing: 3px;
}
.intro nav{
    margin-top: 30px;
    font-size: 0.8em;
    font-family: 'Barlow', sans-serif;
}
.strt{
    display: flex;  
}
.section1{
    background-image: url('../images/photos/gt.jpg');
    background-size: cover;
    margin-top: 30px;
    width: 60%;
    float: left;
}
#ppa{
    width: 60%;
    float: left; 
}
#pp{
    width: 40%;
    padding-top: 40px;
}
#ppj{
    margin-left: 40px;
}
.section2{
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    display: flex;
    align-items: center;
}
.section2 p{
    margin-top: 0px;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}
.section2 p> a{
    font-family: 'Barlow', sans-serif;
    font-size: 0.3em;
    margin-top: 20px;
}
.section3{
    background-image: url('../images/photos/gta.jpg');
    background-size: cover;
    width: 60%;
    float: left;
    display: flex;

}
#im{
    width: 20%;
    position: absolute;
    top: 111%;
    left: 13%;
}
#ims{
    position: absolute;
    width: 10%;
    float: right;
    top: 130%;
    left: 17%;
}
#djs{
    position: absolute;
    top: 165%;
    left: 27%;
    width: 10%;
}
#ddy{
    position: absolute;
    top: 185%;
    left: 14%;
    width: 20%;
}
#rnd{
   position: absolute;
    top: 190%;
    left: 48%;
    width: 10%; 
}
#imss{
    position: relative;
}
.aboutme{

}
.section4{
    display: flex;
    align-items: center;
    background-color: #81D4FA;
    height: 1060px;
}
.section4 p{
    font-size: 2em;
    margin-top: 0px;
    text-align: right;
    margin: auto 30px;
    font-family: 'Acme', sans-serif;
    color: #ffffff;
}
.section4 p> b{
    font-size: 1.1em;
    font-style: italic;
    color: #651FFF;
}
.section4 p> a{
    font-family: 'Barlow', sans-serif;
    font-size: 0.5em;
    margin-top: 20px;
}

/* About me section */
.content{
    background-color: #ffffff;
    position: absolute;
    width: inherit;
    text-align: left;
    top: 219%;
}
h3{
    margin-left: 700px;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: lighter;
}
#mine{
  margin: auto;  
  width: 70%;
  margin-top: 40px;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
}
#mine span{
   color: #0D47A1;  
}
#mine2{
    margin: auto;  
    width: 70%;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
}
h5{
    margin-left: 70px;
    font-size: 2.5em;
    font-family: 'Marck Script', cursive;
    font-weight: lighter;
}
ul{
  margin: auto;  
  width: 55%; 
  font-family: 'Barlow', sans-serif;
  font-size: 1.5em; 
}
.footnote{
    width: 100%;
    margin: auto;
    margin-top: 70px; 
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    background-color: #E1F5FE; 
    height: 90px;
}