body{
    background-color: #000000;
    margin: 0px;
}
.cover{
    width: 75%;
    margin: 0 auto;
}
.intro{
    font-size: 1em;
    text-align: center;
    background-color: #ffffff;
    margin: 0px;
}
h1{
    font-family: 'Caveat', cursive;
    font-size: 3em;
}
.intro p{
    margin-top: 0px; 
    font-family: 'Barlow', sans-serif;
    font-size: 0.8em;
    color: #0D47A1;
    letter-spacing: 3px;
}
.intro nav{
    margin-top: 30px;
    font-size: 0.8em;
    font-family: 'Barlow', sans-serif;
}